[Desktop Entry]
Type=Application
Name=AnimeciX Uncensored
GenericName=Anime İzleme Uygulaması (Okul Ağı)
Comment=Türkçe anime izleme istemcisi, filtreli ağlar için proxy varyantı (mpv tabanlı)
Exec=animecix-uncensored
Icon=animecix-uncensored
Terminal=false
Categories=AudioVideo;Video;GTK;
StartupWMClass=AnimeciX-Uncensored
Keywords=anime;video;player;izle;proxy;okul;
